.btn-link {
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:none;
  font-family:inherit;
  font-size:inherit;
}

label.error, textarea.error, input.error {
  color: red !important;
  font-weight: normal !important;
}
